[package]
name = "rmall"
version = "0.1.0"
edition = "2021"
authors = ["vaaandark <vaaandark@gmail.com>"]
description = "Remember all words in terminal!"
license = "GPL2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = "0.11.11"
tokio = { version = "1.20.0", features = ["full"] }
hyper = "0.14.20"
scraper = "0.13.0"
dirs = "4.0.0"
rusqlite = "0.28.0"
chrono = "0.4"
itertools = "0.10.5"
clap = { version = "4.1.1", features = ["derive"] }
prettytable = "0.10.0"
thiserror = "1.0.38"
eio = "0.1.2"
flate2 = { version = "1.0.25", features = ["zlib"] }
